@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic, 400);

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: #e6eff4;
}

h2,
span {
  color: #4262ba;
}

.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
}

form {
  display: inline-block;
}

input {
  padding: 4px 15px 4px 5px;
}

ul {
  padding-left: 20px;
}

#button {
  display: inline-block;
  background-color: #458741;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
}

ol li:nth-child(even) {
  background: #fff8e7;
}

.strike {
  text-decoration: line-through;
}

#list li:hover {
  cursor: pointer;
  font-size: 110%;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}

/* -- Date and Time -- */

.dateAndTime {
  text-align: center;
  background-color: #fff;
  margin: 20px auto;
  width: 250px;
  padding: 5px;
}