body {
   background: #e6eff4;
}


span {
  color: #4262ba;
}

/* -- Date and Time -- */

.date-time {
  text-align: center;
  background-color: #fff;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #217cae;
}

/* -- Todo -- */

.todo-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #217cae;
}

.todo-title {
  display: inline-block;
}

.info-button {
  border: none;
  background-color: transparent;
  position: relative;
  bottom: 15px;
}

.modal-body,
#list {
  text-align: left;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

#input {
  width: 300px;
}

.todo-form {
  display: inline-block;
} 

input {
  padding: 4px 15px 4px 5px;
}

ul {
  padding-left: 20px;
  padding-top: 40px;
}

#button {
  display: inline-block;
  background-color: #458741;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
}

ol li:nth-child(even) {
  background: #fff8e7;
}

.strike {
  text-decoration: line-through;
}

#list li:hover {
  cursor: pointer;
  color: #025f70;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}

/* -- Carousel -- */

.carousel-inner {
  border-radius: 8px;
  border: 1px solid #217cae;
}

/* -- Weather -- */

.weather-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #217cae;
  height: 320px;
  margin-bottom: 20px;
}

.weather-buttons {
  padding-top: 10px;
  text-align: center;
}